/* Main container to center the gallery items and limit their maximum width */
.main-wrapper {
    margin-top: 4rem;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.2rem;
}

.dog-item-wrapper {
    width: 25%; /* 4 items per row */
    padding: 0 1.2rem;
}

/* Responsive design */
@media (max-width: 1024px) {
    .dog-item-wrapper {
        width: 33.33%;  /* 3 items per row */
    }
}

@media (max-width: 768px) {
    .dog-item-wrapper {
        width: 50%;  /* 2 items per row */
    }
}

@media (max-width: 480px) {
    .dog-item-wrapper {
        width: 100%;  /* 1 item per row */
    }
}

.dog-item {
    font-size: 3rem; /* Adjust as per your need */
    margin-bottom: 2rem;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem;
}

.dog-image {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    transition: transform 0.2s linear;
    cursor: pointer;
}

.dog-item:hover .dog-image {
    transform: scale(1.1);
}

.dog-content {
    background-color: #fff;
    padding: 1.6rem;
}

.dog-name {
    font-weight: 600;
    font-size: 1.5rem;
}

.loading-img {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

