.App {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-container {
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 5px;
}

h1 {
  color: #fb965bcb; 
  font-size: 50px; 
  text-align: center; 
  margin-bottom: 25px;
}

p {
  color: #555;
  font-size: 18px;
  text-align: center; 
  margin-bottom: 35px;
}

.breeds-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.breed-label {
  flex-basis: calc(33% - 15px); 
  box-sizing: border-box;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  margin-right: 12px;
}

button {
  display: block;
  margin: 25px auto;
  width: 80px;         
  height: 80px;        
  background-color: #ffc382;
  color: #ffffff;
  border: none;
  border-radius: 50%;  /* Make it a circle */
  cursor: pointer;
  font-size: 20px;     
  transition: background-color 0.3s ease-in-out;  
  background-image: url('./assets/dogPaw.img'); 
  background-size: 70px;  
  background-repeat: no-repeat;
  background-position: center;
}


button:hover {
  background-color: #e68033;
  background-image: url('./assets/dogPaw.img'); 
  background-size: 50px;  
  background-repeat: no-repeat;
  background-position: center;
}